
.ui-tooltip {
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}

body .ui-tooltip {
	border-width: 1px;
}

.ui-tooltip .ui-tooltip-content,
.ui-tooltip p,
.ui-tooltip ul,
.ui-tooltip li,
.ui-tooltip,
.qtip {
	border-width: 1px;
	font-family: Helvetica,Arial,sans-serif;
	font-size:.88em;
	color:#ffffff;
	line-height: 1.3em;
}

.ui-tooltip, .arrow:after {
background: #21632E;
border: 1px solid white;
}